
  <!-- Language Title -->
  <h3><%= @language.name_original %> <small><i><%= @language.name %></i></small></h3>
  <!-- List of themes -->
  <h4>Themes</h4>
  <ul>
    <% @language.themes.each do |t| %>
      <li><%= link_to t.name, theme_path(t) %></li>
    <% end %>
  </ul>
