<!-- <nav class="top-bar">
    <ul class="title-area" width="400px">
      
      <li class="name">
      	<h1 style='float:left'><img src="http://www.sfslanguages.com/wp-content/themes/monochrome/img/logo.gif" width="50px" height="50px"/></h1>
        <h5>
			by Matt Schartow
        </h5>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Languages</a>
          <ul class="dropdown">
            <% Language.all.each do |l| %>
              <li><%= link_to l.name, language_path(l) %></li>
            <% end %>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">About</a></li>
        <li class="divider"></li>
        <li><a href="#">Schools</a></li>
        <li class="divider"></li>
        <li><a href="#">Foundations</a></li>
      </ul>
    </section>
  </nav>
   -->


  <!-- Header and Nav From Template Below -->
  
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://www.sfslanguages.com/wp-content/themes/monochrome/img/logo.gif" width="50px" height="50px"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <li><a href="/languages/1/">Spanish</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->